.search-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F5F6F7;
  margin: 0px;
}

.search-result__title{
  font-family: Robotoslab, Arial;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  font-style: normal;
  margin-top: 80px;
  margin-left: 104px;
  margin-right: 104px;
  margin-bottom: 2px;
}

.search-result__error-info{
  font-family: Robotoslab, Arial;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  font-style: normal;
  opacity: 0.3;
  margin: 0px;
  margin-bottom: 100px;
  margin-left: 104px;
  margin-right: 104px;
}

@media (max-width : 768px) {
  .search-result__title{
    font-size: 30px;
    line-height: 34px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 2px;
  }
  .search-result__error-info{
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width : 320px) {
  .search-result__title{
    margin-top: 32px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
  }
  .search-result__error-info{
    font-size: 16px;
    line-height: 18px;
    margin: 0px;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
